@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/GothamLight.ttf) format('truetype');
}

@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/GothamMedium.ttf) format('truetype');
}

@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../fonts/GothamBook.ttf) format('truetype');
}

@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/GothamBold.ttf) format('truetype');
}

