@media screen and (max-width: 768px) {
    // init
    .title {
        .sub-title {
            font-size: 1.125rem;
            margin-bottom: 18px;

            &::after {
                top: 10px;
            }
        }

        h2 {
            font-size: 2.5rem;
        }

        .description {
            p {
                font-size: 1rem;
            }
        }
    }


    // Header
    .header {
        .navbar {
            .menu {
                display: none;
                position: fixed;
                top: 120px;
                right: 0;
                width: 250px;
                height: calc(100vh - 120px);
                background-color: #fff;
                z-index: 9999;
                padding-top: 1rem;

                ul {
                    flex-direction: column;

                    li {
                        width: 100%;
                        a {
                            span {
                                text-align: left;
                                display: block;
                            }
                        }
                    }
                }
            }

            .cta {
                margin-left: auto;
                margin-right: 2rem;
            }

            .mobile-icon {
                display: block;
            }
        }
    }

    // Home
    .intro {
        height: 100%;
        overflow: hidden;

        .hero {
            padding-top: 6rem;
            padding-bottom: 6rem;

            h1 {
                font-size: 30px;
                margin-bottom: 30px;
            }

            p.description {
                font-size: 16px;
                margin-bottom: 30px;
                line-height: 1.5;
            }

            .btn {
                width: 220px;
                min-height: 60px;
                padding: 0;
                font-size: 16px;
            }
        }

        .vertical-slider-container {
            .vertical-slider {
                gap: 10px;

                .column {
                    .slide {
                        width: 260px;
                        height: 400px;
                        margin-bottom: 1rem;

                    }
                }
            }

        }
    }

    .properties {
        padding-top: 100px;
        padding-bottom: 100px;

        .properties-wrapper {
            margin-top: 55px;

            .property {
                margin-bottom: 2rem;

                .property-image {
                    width: 100%;
                    height: 252px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 18px 18px 0 0;
                    }
                }

                .property-card {
                    padding: 2rem;
                    background-color: var(--white);
                    height: 347px;
                    border-radius: 0 0 18px 18px;

                    h3 {
                        color: #000;
                        font-size: 21px;
                        font-weight: 500;
                        margin-bottom: 10px;
                    }

                    .brief {
                        color: var(--primaryColor);
                        font-size: 16px;
                        margin-bottom: 10px;
                    }

                    .price {
                        color: #2bb245;
                        font-size: 21px;
                        font-weight: 700;

                        .currency {
                            font-size: 16px;
                        }
                    }

                    .status {
                        color: #161922;
                        font-size: 16px;
                    }

                    .info {
                        padding: 1rem 2rem;
                        background-color: #f1f3f8;
                        margin-bottom: 24px;
                        margin-top: 24px;
                        border-radius: 9px;

                        p {
                            color: #161922;
                            font-weight: 500;
                        }

                        span:not(.fix-font) {
                            color: #6c6f75;
                            font-size: 16px;
                            font-weight: 600;
                            display: block;
                        }
                    }

                    a {
                        min-height: 68px;
                    }
                }
            }

            .btn {
                svg {
                    width: 9px;
                    height: 9px;
                    margin-left: 1rem;
                }
            }
        }

    }
}
