:root {
    // primary colors
    --white: #ffffff;
    --black: #000000;
    --primaryColor: #b7834d;
    --gray: #f3f4f9;


    // Border Radius
    --borderRadius: 0.4rem;

    // Width
    --containerWidth: 1150px;
    --gridSpacing: 1rem;
}
